<table class="table m-2">
  <thead class="bg-dark text-light">
    <tr>
      <!-- <th scope="col">ID</th> -->
      <th scope="col">NO:</th>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Count</th>
      <th scope="col">Details</th>
      <th scope="col">Buy</th>
    </tr>
  </thead>

  <tbody>
    <!-- index start from 0  -->
    <!-- First test case -->
    <!-- <tr *ngFor="let prd of prdList;let i=index;"> -->
    <!-- Second test case -->
    <!-- <tr *ngFor="let prd of prdList;let i=index;" [hidden]="prd.quantity==0"> -->

    <!-- class binding  -->
    <!-- <tr *ngFor="let prd of prdList;let i=index;" [class.bg-warning]="prd.quantity==0" [class.text-danger]="prd.quantity==0"> -->

    <!--  style binding -->
    <!-- (condition)?true:false -->
    <!-- <tr *ngFor="let prd of prdList;let i=index;" [style.background-color]="(prd.quantity==0)?'lightyellow':'lightblue'"> -->
    <!-- <tr *ngFor="let prd of prdList;let i=index;" [style.background-color]="(prd.quantity==0)?'lightyellow':'lightblue'" [style.color]="(prd.quantity==0)?'red':'darkblue'"> -->




    <!-- virtual containers -->
    <!-- ng-container , ng-template  , ng-content  -->

    <!-- <tr *ngFor="let prd of prdList;let i=index;" *ngIf="prd.quantity>0"> -->
    <!-- Error -->


    <!-- <ng-container *ngFor="let prd of prdList;let i=index;"> -->
      <!-- Day3 -->
    <ng-container *ngFor="let prd of prdListOfCat;let i=index;">
      <!-- <tr *ngIf="prd.quantity>0"> -->
      <!-- <tr [ngClass]="{'bg-warning':prd.quantity==0,'text-danger':prd.quantity==0}"> -->
      <tr
        [ngStyle]="{'background-color':(prd.quantity==0)?'lightyellow':'lightblue','color':(prd.quantity==0)?'red':'blue'}">
        <!-- <td>{{prd.id}}</td> -->
        <td>{{i+1}}</td>
        <td>{{prd.name}}</td>
        <td><img src="{{prd.imgURL}}" width="80" height="80"></td>
        <!-- <td>{{prd.quantity}}</td> -->
        <!-- <td>
            <span *ngIf="prd.quantity>0">{{prd.quantity}}</span>
            <span *ngIf="prd.quantity==0">out of stock</span>
        </td> -->
        <td>
          <!-- <span *ngIf="prd.quantity>0;else outofstock">{{prd.quantity}}</span> -->
          <!-- <ng-container *ngIf="prd.quantity>0;else outofstock">{{prd.quantity}}</ng-container> -->
          <!-- template reference => #templateReferenceName -->
          <!-- <ng-template #outofstock>Out of stock</ng-template> -->


          <!-- ngSwitch -->
          <!-- switch(statement){ case 1: break;case 2:  ;default } -->
          <ng-container [ngSwitch]="prd.quantity">
            <ng-container *ngSwitchCase="0">Out of stock</ng-container>
            <ng-container *ngSwitchCase="1">Last Item</ng-container>
            <ng-container *ngSwitchCase="2">Last 2 Item!!</ng-container>
            <ng-container *ngSwitchDefault>{{prd.quantity}}</ng-container>

          </ng-container>
        </td>
        <td>{{prd.price}}</td>
        <!-- <td><button class="btn btn-success" [hidden]="prd.quantity==0">Buy</button></td> -->
        <td><input type="number" class="form-control" #itemCount></td>
        <!-- Day4 -->
        <td><button class="btn btn-danger" (click)="openPrdDetails(prd.id)">Details</button></td>
        <!-- Another solution-->
        <!-- <td><a class="btn btn-danger" [routerLink]="['/Products',prd.id]">Details</a></td> -->
        <td><button class="btn btn-success" [disabled]="prd.quantity==0" (click)="updateTotalPrice(prd.price,itemCount.value)">Add to cart</button></td>
      </tr>
    </ng-container>
  </tbody>

</table>


<!-- <h2>For test total price : {{totalPrice}}</h2> -->